
.input{
	position: absolute;
	top: 10%;
	left: 40%;
}

.addButton{
	position: absolute;
	top: 80%;
}

.container{
	position: relative;
	top: 150px;
	display: flex;
	font-size: large;
	justify-content: center;
	align-items: center;
}

.displayTodo {
	display: flex;
	align-items: center;
}
