
.input{
	position: absolute;
	top: 10%;
	left: 10%;
}

.addButton{
	position: absolute;
	top: 70px;
	left: 28%;
}

.updateButton{
	position: absolute;
	top: 70px;
	left: 28%;
}

.container{
	position: relative;
	top: 150px;
	left: 170px;
	display: flex;
	font-size: large;
	justify-content: flex-start;
	align-items: center;
}

.displayTodo {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.clear{
	top: 150px;
	left: -190px;
}

.selectAll{
	position: absolute;
	top: 2px;
	left: 150px;
}

.saCheckBox{
	position: absolute;
	top: -30px;
	left: 10px;
}

.filterButtons{
	position: absolute;
	top: -65px;
	left: -30px;
}

.taskContainer {
	position:relative;
	top: 100px;
	left: 800px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.taskHeading {
	position: absolute;
	top: 3%;
	left: 64%;
}

.todoHeading {
	position: absolute;
	top: 1%;
	left: 16%;
}
