
.input{
	position: absolute;
	top: 10%;
	left: 40%;
}

.addButton{
	position: absolute;
	top: 70px;
	left: 58%;
}

.updateButton{
	position: absolute;
	top: 70px;
	left: 58%;
}

.container{
	position: relative;
	top: 110px;
	display: flex;
	font-size: large;
	justify-content: center;
	align-items: center;
}

.displayTodo {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 15px;
}

.clear{
	top: 150px;
	left: 630px;
}

.selectAll{
	position: absolute;
	top: 2px;
	left: 650px;
}

.saCheckBox{
	position: absolute;
	top: -30px;
	left: 600px;
}
